/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
tests/CreatesApplication.php
tests/TestCase.php
tests/Unit/ExampleTest.php
tests/Feature/ExampleTest.php
storage/logs/.gitignore
storage/framework/views/.gitignore
storage/framework/testing/.gitignore
storage/framework/sessions/.gitignore
storage/framework/cache/data/.gitignore
storage/framework/.gitignore
storage/framework/cache/.gitignore
storage/app/public/.gitignore
storage/app/.gitignore
docker/8.0/supervisord.conf
docker/8.0/start-container
docker/8.0/php.ini
docker/7.4/supervisord.conf
docker/8.0/Dockerfile
docker/7.4/start-container
docker/7.4/php.ini
docker/7.4/Dockerfile
bootstrap/cache/.gitignore
storage/logs/.gitignore
storage/framework/views/.gitignore
storage/framework/testing/.gitignore
storage/framework/sessions/.gitignore
storage/framework/cache/data/.gitignore
storage/framework/cache/.gitignore
storage/app/public/.gitignore
storage/app/.gitignore
bootstrap/cache/.gitignore
phpunit.xml
package.json
package-lock.json
docker-compose.yml
composer.lock
composer.json
artisan
.styleci.yml
